[Unit]
Description=Wi-Fi Auto-Connect Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/tom/camper_wifi/wifi_checker.py
Restart=on-failure
User=tom
Group=tom
WorkingDirectory=/home/tom/camper_wifi/


[Install]
WantedBy=multi-user.target